.dashboard{
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 15vw;
    height: 100vh;
    border-right: 1px solid black;
    padding-right: 10px;
    padding-top: 50px;
    justify-content: center;
    position: relative;
}
.btn{
    margin-top: 25px;;
    cursor: pointer;
}
.btn:focus{
    color: red;
}
.main-column{
    position: relative;
    width: 100%;
}