.display-form-page {
    background: url("../images/logo.png") no-repeat;
    background-position: right top;
    background-size: 40rem 44rem;
    background-color: var(--backgroundColor);
    z-index: -1;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.display-form-container {
    height: calc(100vh - var(--adminNavbarHeight));
    width: 85vw;
    overflow-y: auto;
    position: absolute;
    left: 15vw;
}

.display-form-component {
    background: rgba(190, 190, 190, 0.1);
    backdrop-filter: saturate(180%) blur(25px);
    border-radius: 1em;
    width: 65vw;
    padding: 1em 1em 2em 1.5em;
    margin: 2em 0;
}

.form-header p {
    margin-top: 1.5em;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .display-form-component {
        background: rgba(120, 120, 120, 0.2);
        backdrop-filter: grayscale(30%);
    }
}

.form-submit-btn {
    width: 12rem;
    height: 3rem;
    text-align: center;
    background-color: #947fce;
    color: #000;
    font-size: 1.4rem;
    position: relative;
    left: 1.5em;
}

/* .display-form-component {
    position: relative;
    height: auto;
    width: 65vw;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 2em;
} */

/* .display-form-component:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(20px);
    margin: -20px;
} */
