body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s linear;
}
.form-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container form {
    height: 500px;
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
}

/*Login*/
.form-container form input {
    outline: none;
    border: none;
    height: 40px;
    width: 82%;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    font-size: 17px;
    padding: 0 10px;
    margin: 15px 0;
    letter-spacing: 1px;
}

.error-message {
    color: black
}
/*Login*/
.form-container form input[type="submit"] {
    width: 82%;
    cursor: pointer;
    margin-top: 25px;
}
.form-container form input[type="submit"]:hover {
    letter-spacing: 4px;
}
.container {
    display: block;
}
