.question-component {
    padding: 15px;
    border: 1px solid gray;
    width: 40%;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #bebebe;
    border-radius: 5px;
    position: relative;
}

.question-meta {
    width: 100%;
    height: auto;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.question-title {
    width: 100%;
}
.question-text {
    width: 70%;
    padding: 15px;
    font-size: 14px;
}

.questionType {
    height: 100%;
    width: 30%;
    margin: none;
    margin-right: none;
}

.question-select {
    padding: 15px;
}
