.question-container {
    width: 80vw;
    display: flex;
    left: 0;
}

.question-component-primary {
    padding: 1em;
    border: 1px solid gray;
    width: 65vw;
    margin: 2em 1.5em 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(190, 190, 190, 0.1);
    backdrop-filter: saturate(180%) blur(25px);
    border-radius: 1em;
}

.question-component-primary-row1 {
    position: relative;
    display: flex;
    width: 90%;
    left: 5%;
    justify-content: space-around;
}

.question-text-editable {
    border: none !important;
    padding: 1em;
    background-color: var(--secondaryBackground);
}

.question-component-primary-row2 {
    width: 90%;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-question-container {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-question-container > b {
    text-align: center;
}

.grid-container {
    width: 100%;
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
}

.option-container {
    display: flex;
}

.admin-question-container > .add-option-btn {
    border-bottom: 1px solid var(--fontColor);
    margin-top: var(--marginTop);
    width: 20vw;
}

.delete-option-btn {
    width: 0.8rem;
    margin-left: 0.5rem;
}
.linear-scale-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 2em;
}

.linear-scale-flexbox > span {
    padding-top: 1.8em;
}

.question-component-primary-row3 {
    border-top: 1px solid var(--fontColor);
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
}

.required-checkbox {
    border-left: 1px solid var(--fontColor);
    margin-top: 0.8em !important;
    padding: 0.5em 0.5em;
}

.question-component-primary-row3 button {
    margin: 1.2em 2em 0 0;
}

.question-component-primary-row3 button .icon-info {
    z-index: 2;
    position: absolute;
    width: max-content;
    display: block;
    font-size: 0.9rem;
    height: 0;
    padding: 0;
    background-color: rebeccapurple;
    overflow: hidden;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    transform: translateX(-0.45em) translateY(0.1em);
}

.question-component-primary-row3 button:hover .icon-info {
    padding: 0.5em;
    overflow: visible;
    height: auto;
}

.question-component-primary-row3 button .text-info-arrow {
    z-index: 1;
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 0rem;
    overflow: hidden;
    transform: translateY(-0.5rem) translateX(-0.1em) rotate(-45deg);
    -webkit-transform: translateY(-0.5rem) translateX(-0.1em) rotate(-45deg);
    background-color: rebeccapurple;
}

.question-component-primary-row3 button:hover .text-info-arrow {
    overflow: visible;
    height: 1.5rem;
}

.question-component-secondary {
    height: 100%;
    width: 5vw;
    background: rgba(190, 190, 190, 0.1);
    backdrop-filter: saturate(180%) blur(25px);
    border-radius: 1em;
    position: relative;
}
