.question-component {
    padding: 15px;
    border: 1px solid gray;
    width: 40%;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgba(190, 190, 190, 0.1);
    backdrop-filter: saturate(180%) blur(25px);
    border-radius: 1em;
}
